
<!--
  Cuando trabajamos con un framework como angular no es necesario que recargemos toda la pagina
  angular se puede encargar de eso y solo es necesario decirle que debe motrar ahora.
  Para eso se usar el routerLink
-->
<!-- <nav>
  <a href="/products">Productos</a>
  <a href="/contact">Contacto</a>
</nav> -->
<nav>
  <a routerLinkActive="active" routerLink="/home">Home</a>
  <a routerLinkActive="active" routerLink="/products">Productos</a>
  <a routerLinkActive="active" routerLink="/contact">Contacto</a>
</nav>